openapi: 3.0.3
info:
  title: SpamAPI
  version: 1.0.0
  description: REST API for spam detection and dashboard management.
servers:
  - url: https://spamapi.de
paths:
  /admin/api/users/{id}/actions:
    post:
      summary: Apply local account action
      description: Local action; current version, reason and current authority checked
        in the shared transaction. Role changes require a proof bound to the exact intent.
        Self-demotion/suspension and closed accounts are rejected. No automatic retries.
      security:
      - SessionAuth: []
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminActionRequest'
      responses:
        '200':
          description: Applied result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminActionResult'
        '400':
          description: Invalid action, extra fields or invalid identity input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminError'
        '401':
          description: Session unavailable
        '404':
          description: User or target API key unavailable
        '403':
          description: admin_permission_lost redirects out of admin. reauth_required,
            invalid_password and self_access_change are action-specific and preserve
            admin navigation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminError'
        '409':
          description: version_conflict requires reloading the target detail. username_exists
            and last_admin allow correcting the input or retrying after the condition
            changes. Never retry automatically.
        '429':
          description: Rate limit or one-minute password-reset cooldown
        '500':
          description: Transaction failed and rolled back; a commit acknowledgement
            can be ambiguous, so refresh before any manual retry.
        '202':
          description: Password-reset request accepted, never a delivery receipt. No
            automatic retry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminActionResult'
  /admin/api/users/{id}/reauthenticate:
    post:
      summary: Reauthenticate for a role change
      description: Sessionless password check for a role-change intent; five-minute
        single-use proof bound to actor, session, actor version, target and parameters.
        Replaces the prior proof for this actor/session. Does not create a session or
        change last-login.
      security:
      - SessionAuth: []
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminReauthRequest'
      responses:
        '200':
          description: Proof issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminReauthResult'
        '400':
          description: Invalid action, extra fields or invalid identity input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminError'
        '401':
          description: Session unavailable
        '404':
          description: User or target API key unavailable
        '403':
          description: admin_permission_lost redirects out of admin. reauth_required,
            invalid_password and self_access_change are action-specific and preserve
            admin navigation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminError'
        '409':
          description: version_conflict requires reloading the target detail. username_exists
            and last_admin allow correcting the input or retrying after the condition
            changes. Never retry automatically.
        '429':
          description: Rate limit or one-minute password-reset cooldown
        '500':
          description: Transaction failed and rolled back; a commit acknowledgement
            can be ambiguous, so refresh before any manual retry.
  /admin/api/users:
    get:
      summary: Search users
      security:
      - SessionAuth: []
      parameters:
      - in: query
        name: limit
        schema:
          type: integer
          minimum: 1
          maximum: 100
      - in: query
        name: offset
        schema:
          type: integer
          minimum: 0
          maximum: 1000000
      - in: query
        name: q
        schema:
          type: string
          maxLength: 200
        description: Literal case-insensitive substring of email or username, up to 200 Unicode code points after trimming whitespace.
      responses:
        '200':
          description: Read-only result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminListResponse'
        '401':
          description: Invalid session or blocked account
        '403':
          description: admin_permission_lost; remove admin cache and exit /admin, preserving
            a valid normal session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminError'
        '400':
          description: Invalid pagination/search/cursor
        '404':
          description: Unknown user
        '500':
          description: Local read failure
  /admin/api/users/{id}:
    get:
      summary: Inspect user identity, access, usage and local billing projection
      security:
      - SessionAuth: []
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      - in: query
        name: keys_limit
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 25
        description: Maximum active API keys in the embedded page.
      - in: query
        name: keys_offset
        schema:
          type: integer
          minimum: 0
          maximum: 1000000
          default: 0
        description: Active-key page offset; ordered by created_at descending, then ID descending.
      responses:
        '200':
          description: Read-only result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminDetailResponse'
        '401':
          description: Invalid session or blocked account
        '403':
          description: admin_permission_lost; remove admin cache and exit /admin, preserving
            a valid normal session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminError'
        '400':
          description: Invalid pagination/search/cursor
        '404':
          description: Unknown user
        '500':
          description: Local read failure
  /admin/api/users/{id}/sites:
    get:
      summary: Inspect observed sites
      security:
      - SessionAuth: []
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      - in: query
        name: limit
        schema:
          type: integer
          minimum: 1
          maximum: 100
      - in: query
        name: offset
        schema:
          type: integer
          minimum: 0
          maximum: 1000000
      responses:
        '200':
          description: Read-only result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardSitesResponse'
        '401':
          description: Invalid session or blocked account
        '403':
          description: admin_permission_lost; remove admin cache and exit /admin, preserving
            a valid normal session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminError'
        '400':
          description: Invalid pagination/search/cursor
        '404':
          description: Unknown user
        '500':
          description: Local read failure
  /admin/api/users/{id}/audit:
    get:
      summary: Inspect audit history
      security:
      - SessionAuth: []
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      - in: query
        name: limit
        schema:
          type: integer
          minimum: 1
          maximum: 100
      - in: query
        name: offset
        schema:
          type: integer
          minimum: 0
          maximum: 1000000
      responses:
        '200':
          description: Read-only result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminAuditResponse'
        '401':
          description: Invalid session or blocked account
        '403':
          description: admin_permission_lost; remove admin cache and exit /admin, preserving
            a valid normal session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminError'
        '400':
          description: Invalid pagination/search/cursor
        '404':
          description: Unknown user
        '500':
          description: Local read failure
  /admin/api/users/{id}/billing:
    get:
      summary: Inspect live Stripe subscription and invoices without writes
      security:
      - SessionAuth: []
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      - in: query
        name: starting_after
        schema:
          type: string
          maxLength: 100
        description: Opaque Stripe invoice cursor, scoped by the stored customer ID.
      responses:
        '200':
          description: Read-only result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminInspection'
        '401':
          description: Invalid session or blocked account, including original-session revocation or expiry during Stripe inspection; no billing data is returned. Middleware rejects invalid sessions as plain text; the final inspection recheck returns AdminError JSON.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminError'
            text/plain:
              schema:
                type: string
        '403':
          description: admin_permission_lost; remove admin cache and exit /admin, preserving
            a valid normal session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminError'
        '400':
          description: Invalid pagination/search/cursor
        '404':
          description: Unknown user
        '500':
          description: Local read failure
        '502':
          description: Stripe inspection failed; local projection remains available.
        '503':
          description: Live billing inspection is not configured.
  /api/v1/verify-key:
    post:
      summary: Verify API key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyKeyRequest"
      responses:
        "200":
          description: Verification result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyKeyResponse"
  /api/v1/check:
    post:
      summary: Check content for spam
      security:
        - ApiKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckRequest"
      responses:
        "200":
          description: Check result
          headers:
            X-SpamAPI-Pro-Tip:
              schema:
                type: string
            X-SpamAPI-Request-ID:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckResponse"
        "401":
          $ref: "#/components/responses/AuthError"
        "403":
          description: Account access was removed before classification completion; no result writes are committed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: account_unavailable
                message: account access unavailable
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          description: Classification persistence failed; usage, site statistics and log are rolled back and no decision is returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: persistence_error
                message: failed to record classification
        "503":
          description: Classification provider failed or timed out; no decision or classification usage charge.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: detection_unavailable
                message: spam classification is temporarily unavailable
  /api/v1/submit-spam:
    post:
      summary: Report false negative (spam)
      security:
        - ApiKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FeedbackRequest"
      responses:
        "200":
          description: Feedback accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeedbackResponse"
  /api/v1/submit-ham:
    post:
      summary: Report false positive (ham)
      security:
        - ApiKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FeedbackRequest"
      responses:
        "200":
          description: Feedback accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeedbackResponse"
  /api/v1/usage:
    get:
      summary: Get usage summary
      security:
        - ApiKeyHeader: []
      responses:
        "200":
          description: Usage summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageResponse"
  /api/v1/sites:
    get:
      summary: List sites
      security:
        - ApiKeyHeader: []
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            default: 50
            minimum: 0
            maximum: 100
        - in: query
          name: offset
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        "200":
          description: Site list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SitesResponse"
  /dashboard/api/account:
    get:
      summary: Get account details
      security:
        - SessionAuth: []
      responses:
        "200":
          description: Account details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountResponse"
    patch:
      summary: Initiate email address change
      security:
        - SessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountUpdateRequest"
      responses:
        "200":
          description: Current account; the new email takes effect after confirmation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountResponse"
  /dashboard/api/api-keys:
    get:
      summary: List API keys
      security:
        - SessionAuth: []
      responses:
        "200":
          description: API keys
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIKeyListResponse"
    post:
      summary: Create API key
      security:
        - SessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/APIKeyCreateRequest"
      responses:
        "200":
          description: Created API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIKeyCreateResponse"
  /dashboard/api/api-keys/{id}:
    delete:
      summary: Delete API key
      security:
        - SessionAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Deleted
  /dashboard/api/usage/summary:
    get:
      summary: Dashboard usage summary
      security:
        - SessionAuth: []
      responses:
        "200":
          description: Usage summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardUsageSummary"
  /dashboard/api/usage/history:
    get:
      summary: Dashboard usage history
      security:
        - SessionAuth: []
      parameters:
        - in: query
          name: months
          schema:
            type: integer
            default: 6
            minimum: 1
            maximum: 24
      responses:
        "200":
          description: Usage history
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageHistoryResponse"
  /dashboard/api/sites:
    get:
      summary: Dashboard sites list
      security:
        - SessionAuth: []
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            default: 50
            minimum: 0
            maximum: 100
        - in: query
          name: offset
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        "200":
          description: Sites
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardSitesResponse"
  /dashboard/api/billing/subscription:
    get:
      summary: Billing subscription
      security:
        - SessionAuth: []
      responses:
        "200":
          description: Subscription
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingSubscription"
  /dashboard/api/billing/checkout:
    post:
      summary: Create checkout session
      security:
        - SessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BillingCheckoutRequest"
      responses:
        "200":
          description: Checkout URL
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingCheckoutResponse"
  /dashboard/api/billing/portal:
    post:
      summary: Create portal session
      security:
        - SessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BillingPortalRequest"
      responses:
        "200":
          description: Portal URL
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingPortalResponse"
  /auth/register:
    post:
      summary: Register account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthRegisterRequest"
      responses:
        "201":
          description: Auth result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResult"
  /auth/login:
    post:
      summary: Login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthLoginRequest"
      responses:
        "200":
          description: Auth result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResult"
  /auth/logout:
    post:
      summary: Logout
      security:
        - SessionAuth: []
      responses:
        "204":
          description: Logged out
  /auth/me:
    get:
      summary: Current user
      security:
        - SessionAuth: []
      responses:
        "200":
          description: Current user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthMeResponse"
  /auth/verify:
    post:
      summary: Verify email address
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthTokenRequest"
      responses:
        "200":
          description: Verified user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountResponse"
  /auth/confirm-email-change:
    post:
      summary: Confirm email address change
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthTokenRequest"
      responses:
        "200":
          description: Updated user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountResponse"
  /auth/forgot:
    post:
      summary: Request password reset email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthForgotRequest"
      responses:
        "202":
          description: Password reset request accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthForgotResponse"
  /auth/reset:
    post:
      summary: Reset password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthResetRequest"
      responses:
        "200":
          description: User with updated password
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserPublic"
  /webhooks/stripe:
    post:
      summary: Stripe webhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Accepted
components:
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: X-API-Key
    SessionAuth:
      type: http
      scheme: bearer
  responses:
    AuthError:
      description: Authentication error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    RateLimitError:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        request_id:
          type: string
      required: [error, message]
    VerifyKeyRequest:
      type: object
      properties:
        api_key:
          type: string
        blog:
          type: string
      required: [api_key]
    VerifyKeyResponse:
      type: object
      properties:
        valid:
          type: boolean
        plan:
          type: string
        usage:
          $ref: "#/components/schemas/UsageInfo"
      required: [valid]
    CheckRequest:
      type: object
      properties:
        api_key:
          type: string
        blog:
          type: string
        user_ip:
          type: string
        user_agent:
          type: string
        referrer:
          type: string
        permalink:
          type: string
        comment_type:
          type: string
        comment_author:
          type: string
        comment_author_email:
          type: string
        comment_author_url:
          type: string
        comment_content:
          type: string
        comment_date_gmt:
          type: string
        blog_lang:
          type: string
        blog_charset:
          type: string
        user_role:
          type: string
        is_test:
          type: boolean
        recheck_reason:
          type: string
        honeypot_field_name:
          type: string
        honeypot_field_value:
          type: string
      required: [blog, user_ip]
    CheckResponse:
      type: object
      properties:
        is_spam:
          type: boolean
        score:
          type: number
          format: float
        recommendation:
          type: string
          enum: [allow, review, discard]
        reasons:
          type: array
          items:
            type: string
        request_id:
          type: string
      required: [is_spam, score, recommendation, request_id]
    FeedbackRequest:
      type: object
      properties:
        api_key:
          type: string
        blog:
          type: string
        user_ip:
          type: string
          description: Client IPv4 or IPv6 address.
        user_agent:
          type: string
        comment_type:
          type: string
        comment_author:
          type: string
        comment_author_email:
          type: string
        comment_content:
          type: string
      required: [blog, user_ip]
    FeedbackResponse:
      type: object
      properties:
        status:
          type: string
          enum: [ok]
      required: [status]
    UsageInfo:
      type: object
      properties:
        limit:
          type: integer
        used:
          type: integer
        percentage:
          type: string
        resets_at:
          type: string
          format: date-time
      required: [limit, used, percentage, resets_at]
    UsageResponse:
      type: object
      properties:
        limit:
          type: integer
        used:
          type: integer
        percentage:
          type: string
        resets_at:
          type: string
          format: date-time
        throttled:
          type: boolean
      required: [limit, used, percentage, resets_at, throttled]
    UsageHistoryResponse:
      type: object
      properties:
        history:
          type: array
          items:
            $ref: "#/components/schemas/UsageHistoryItem"
      required: [history]
    UsageHistoryItem:
      type: object
      properties:
        month:
          type: string
          format: date-time
        spam_checks:
          type: integer
        spam_detected:
          type: integer
        ham_detected:
          type: integer
        submit_spam:
          type: integer
        submit_ham:
          type: integer
      required: [month, spam_checks, spam_detected, ham_detected, submit_spam, submit_ham]
    SitesResponse:
      type: object
      properties:
        total:
          type: integer
        sites:
          type: array
          items:
            $ref: "#/components/schemas/SiteInfo"
        limit:
          type: integer
        offset:
          type: integer
      required: [sites, total, limit, offset]
    SiteInfo:
      type: object
      properties:
        site:
          type: string
        api_calls:
          type: integer
        spam:
          type: integer
        ham:
          type: integer
        missed_spam:
          type: integer
        false_positives:
          type: integer
        first_seen:
          type: string
          format: date-time
        last_seen:
          type: string
          format: date-time
      required: [site, api_calls, spam, ham, missed_spam, false_positives, first_seen, last_seen]
    DashboardSitesResponse:
      type: object
      properties:
        total:
          type: integer
        sites:
          type: array
          items:
            $ref: "#/components/schemas/DashboardSiteInfo"
        limit:
          type: integer
        offset:
          type: integer
      required: [sites, total, limit, offset]
    DashboardSiteInfo:
      type: object
      properties:
        blog_url:
          type: string
        total_checks:
          type: integer
        total_spam:
          type: integer
        total_ham:
          type: integer
        first_seen_at:
          type: string
          format: date-time
        last_seen_at:
          type: string
          format: date-time
      required: [blog_url, total_checks, total_spam, total_ham, first_seen_at, last_seen_at]
    AccountResponse:
      type: object
      properties:
        user:
          $ref: "#/components/schemas/UserPublic"
      required: [user]
    UserPublic:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        username:
          type: string
        role:
          type: string
        is_verified:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        verified_at:
          type: string
          format: date-time
        last_login_at:
          type: string
          format: date-time
      required: [id, email, username, role, is_verified, created_at, updated_at]
    AccountUpdateRequest:
      type: object
      properties:
        email:
          type: string
        password:
          type: string
          writeOnly: true
      required: [email, password]
    APIKeyCreateRequest:
      type: object
      properties:
        name:
          type: string
      required: [name]
    APIKeyCreateResponse:
      type: object
      properties:
        key:
          type: string
          description: Complete API key, returned only during creation.
        api_key:
          $ref: "#/components/schemas/APIKey"
      required: [key, api_key]
    APIKeyListResponse:
      type: object
      properties:
        keys:
          type: array
          items:
            $ref: "#/components/schemas/APIKey"
      required: [keys]
    APIKey:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        prefix:
          type: string
        created_at:
          type: string
          format: date-time
        last_used_at:
          type: string
          format: date-time
        revoked_at:
          type: string
          format: date-time
      required: [id, name, prefix, created_at]
    DashboardUsageSummary:
      type: object
      properties:
        plan:
          type: string
        status:
          type: string
        limit:
          type: integer
        used:
          type: integer
        percentage:
          type: string
        resets_at:
          type: string
          format: date-time
      required: [plan, status, limit, used, percentage, resets_at]
    BillingSubscription:
      type: object
      properties:
        subscription:
          $ref: "#/components/schemas/SubscriptionInfo"
      required: [subscription]
    SubscriptionInfo:
      type: object
      properties:
        plan:
          type: string
        status:
          type: string
        api_calls_limit:
          type: integer
        current_period_start:
          type: string
          format: date-time
        current_period_end:
          type: string
          format: date-time
        cancel_at:
          type: string
          format: date-time
          description: Scheduled end of an ongoing subscription, which keeps its status until then; absent when no cancellation is scheduled.
        stripe_customer_id:
          type: string
        stripe_subscription_id:
          type: string
      required: [plan, status, api_calls_limit, current_period_start, current_period_end]
    BillingCheckoutRequest:
      type: object
      properties:
        plan:
          type: string
        success_url:
          type: string
          format: uri
          description: Redirect URL on the application's origin.
        cancel_url:
          type: string
          format: uri
          description: Redirect URL on the application's origin.
      required: [plan, success_url, cancel_url]
    BillingCheckoutResponse:
      type: object
      properties:
        url:
          type: string
      required: [url]
    BillingPortalRequest:
      type: object
      properties:
        return_url:
          type: string
          format: uri
          description: Redirect URL on the application's origin.
      required: [return_url]
    BillingPortalResponse:
      type: object
      properties:
        url:
          type: string
      required: [url]
    AuthRegisterRequest:
      type: object
      properties:
        email:
          type: string
        username:
          type: string
        password:
          type: string
      required: [email, username, password]
    AuthLoginRequest:
      type: object
      properties:
        email:
          type: string
        password:
          type: string
      required: [email, password]
    AuthTokenRequest:
      type: object
      properties:
        token:
          type: string
      required: [token]
    AuthForgotRequest:
      type: object
      properties:
        email:
          type: string
      required: [email]
    AuthResetRequest:
      type: object
      properties:
        token:
          type: string
        new_password:
          type: string
          writeOnly: true
      required: [token, new_password]
    AuthResult:
      type: object
      properties:
        user:
          $ref: "#/components/schemas/UserPublic"
        token:
          type: string
          description: Session token for Authorization Bearer authentication.
        session:
          $ref: "#/components/schemas/SessionPublic"
      required: [user, token, session]
    SessionPublic:
      type: object
      properties:
        id:
          type: string
        user_id:
          type: string
        user_agent:
          type: string
        ip:
          type: string
        expires_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        revoked:
          type: boolean
      required: [id, user_id, user_agent, ip, expires_at, created_at, revoked]
    AuthMeResponse:
      type: object
      properties:
        user:
          $ref: "#/components/schemas/UserPublic"
        session:
          $ref: "#/components/schemas/SessionPublic"
      required: [user, session]
    AuthForgotResponse:
      type: object
      properties:
        status:
          type: string
          enum: [email_sent]
      required: [status]
    AdminUser:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        username:
          type: string
        role:
          type: string
        is_verified:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        verified_at:
          type: string
          format: date-time
        last_login_at:
          type: string
          format: date-time
        state:
          type: string
          enum:
          - active
          - suspended
          - closed
        version:
          type: integer
      required:
      - id
      - email
      - username
      - role
      - is_verified
      - created_at
      - updated_at
      - state
      - version
    AdminListResponse:
      type: object
      properties:
        users:
          type: array
          items:
            $ref: '#/components/schemas/AdminUser'
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
      required:
      - users
      - total
      - limit
      - offset
    AdminDetailResponse:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/AdminUser'
        keys:
          type: array
          maxItems: 100
          description: Bounded page of active keys; credential hashes are never selected.
          items:
            $ref: '#/components/schemas/APIKey'
        keys_total:
          type: integer
          minimum: 0
        keys_limit:
          type: integer
          minimum: 1
          maximum: 100
        keys_offset:
          type: integer
          minimum: 0
          maximum: 1000000
        active_sessions:
          type: integer
        usage:
          type: array
          items:
            $ref: '#/components/schemas/UsageHistoryItem'
        subscription:
          $ref: '#/components/schemas/SubscriptionInfo'
        projection_updated_at:
          type: string
          format: date-time
          nullable: true
        effective_plan:
          type: string
        effective_limit:
          type: integer
      required:
      - user
      - keys
      - keys_total
      - keys_limit
      - keys_offset
      - active_sessions
      - usage
      - subscription
      - projection_updated_at
      - effective_plan
      - effective_limit
    AdminAuditEvent:
      type: object
      properties:
        id:
          type: string
        actor_id:
          type: string
        target_id:
          type: string
        action:
          type: string
        reason:
          type: string
        request_id:
          type: string
        before:
          type: object
          additionalProperties: true
          nullable: true
        after:
          type: object
          additionalProperties: true
          nullable: true
        created_at:
          type: string
          format: date-time
      required:
      - id
      - actor_id
      - target_id
      - action
      - reason
      - request_id
      - before
      - after
      - created_at
    AdminAuditResponse:
      type: object
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/AdminAuditEvent'
        limit:
          type: integer
        offset:
          type: integer
        has_more:
          type: boolean
          description: Whether another audit page exists beyond this page.
      required:
      - events
      - limit
      - offset
      - has_more
    AdminInspectedSubscription:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
        cancel_at:
          type: string
          format: date-time
          nullable: true
      required:
      - id
      - status
      - cancel_at
    AdminInspectedInvoice:
      type: object
      properties:
        id:
          type: string
        number:
          type: string
        status:
          type: string
        currency:
          type: string
        total:
          type: integer
        amount_paid:
          type: integer
        amount_due:
          type: integer
        created_at:
          type: string
          format: date-time
      required:
      - id
      - number
      - status
      - currency
      - total
      - amount_paid
      - amount_due
      - created_at
    AdminInspection:
      type: object
      properties:
        bound:
          type: boolean
        livemode:
          type: boolean
        subscription:
          type: object
          properties:
            id:
              type: string
            status:
              type: string
            cancel_at:
              type: string
              format: date-time
              nullable: true
          required:
          - id
          - status
          - cancel_at
          nullable: true
        invoices:
          type: array
          items:
            $ref: '#/components/schemas/AdminInspectedInvoice'
        has_more:
          type: boolean
        next_cursor:
          type: string
      required:
      - bound
      - livemode
      - subscription
      - invoices
      - has_more
      - next_cursor
    AdminError:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
          required:
          - code
          - message
      required:
      - error
    AdminActionRequest:
      oneOf:
      - $ref: '#/components/schemas/AdminUsernameAction'
      - $ref: '#/components/schemas/AdminSimpleAction'
      - $ref: '#/components/schemas/AdminRevokeKeyAction'
      - $ref: '#/components/schemas/AdminRoleAction'
      discriminator:
        propertyName: action
        mapping:
          username: '#/components/schemas/AdminUsernameAction'
          suspend: '#/components/schemas/AdminSimpleAction'
          restore: '#/components/schemas/AdminSimpleAction'
          revoke_sessions: '#/components/schemas/AdminSimpleAction'
          password_reset: '#/components/schemas/AdminSimpleAction'
          revoke_key: '#/components/schemas/AdminRevokeKeyAction'
          role: '#/components/schemas/AdminRoleAction'
    AdminActionVersion:
      type: integer
      minimum: 1
    AdminActionReason:
      type: string
      minLength: 3
      maxLength: 500
      description: 3–500 Unicode code points, with at least 3 after trimming surrounding whitespace.
    AdminActionRole:
      type: string
      enum:
      - user
      - admin
    AdminUsernameAction:
      type: object
      additionalProperties: false
      properties:
        action:
          type: string
          enum:
          - username
        expected_version:
          $ref: '#/components/schemas/AdminActionVersion'
        reason:
          $ref: '#/components/schemas/AdminActionReason'
        username:
          type: string
          minLength: 3
          maxLength: 30
      required:
      - action
      - expected_version
      - reason
      - username
    AdminSimpleAction:
      type: object
      additionalProperties: false
      properties:
        action:
          type: string
          enum:
          - suspend
          - restore
          - revoke_sessions
          - password_reset
        expected_version:
          $ref: '#/components/schemas/AdminActionVersion'
        reason:
          $ref: '#/components/schemas/AdminActionReason'
      required:
      - action
      - expected_version
      - reason
    AdminRevokeKeyAction:
      type: object
      additionalProperties: false
      properties:
        action:
          type: string
          enum:
          - revoke_key
        expected_version:
          $ref: '#/components/schemas/AdminActionVersion'
        reason:
          $ref: '#/components/schemas/AdminActionReason'
        key_id:
          type: string
          format: uuid
      required:
      - action
      - expected_version
      - reason
      - key_id
    AdminRoleAction:
      type: object
      additionalProperties: false
      properties:
        action:
          type: string
          enum:
          - role
        expected_version:
          $ref: '#/components/schemas/AdminActionVersion'
        reason:
          $ref: '#/components/schemas/AdminActionReason'
        role:
          $ref: '#/components/schemas/AdminActionRole'
        proof:
          type: string
          format: uuid
          writeOnly: true
      required:
      - action
      - expected_version
      - reason
      - role
      - proof
    AdminRoleIntent:
      type: object
      additionalProperties: false
      properties:
        action:
          type: string
          enum:
          - role
        expected_version:
          $ref: '#/components/schemas/AdminActionVersion'
        reason:
          $ref: '#/components/schemas/AdminActionReason'
        role:
          $ref: '#/components/schemas/AdminActionRole'
      required:
      - action
      - expected_version
      - reason
      - role
    AdminActionResult:
      type: object
      properties:
        status:
          type: string
          enum:
          - applied
          - request_accepted
        user:
          $ref: '#/components/schemas/AdminUser'
      required:
      - status
      - user
    AdminReauthRequest:
      type: object
      additionalProperties: false
      properties:
        password:
          type: string
          writeOnly: true
          minLength: 1
          maxLength: 1024
        intent:
          $ref: '#/components/schemas/AdminRoleIntent'
      required:
      - password
      - intent
    AdminReauthResult:
      type: object
      properties:
        proof:
          type: string
          format: uuid
        expires_at:
          type: string
          format: date-time
      required:
      - proof
      - expires_at
